[submodule "rails/rinari"]
	path = rails/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "rails/yari"]
	path = rails/yari
	url = https://github.com/hron/yari.el.git
[submodule "rails/rhtml"]
	path = rails/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "markdown/markdown-mode"]
	path = markdown/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "scss/scss-mode"]
	path = scss/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "haml/haml-mode"]
	path = haml/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "yasnippet/yasnippet"]
	path = yasnippet/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
