[submodule "rails/rinari"]
	path = rails/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "rails/yari"]
	path = rails/yari
	url = https://github.com/hron/yari.el.git
[submodule "rails/rhtml"]
	path = rails/rhtml
	url = https://github.com/eschulte/rhtml.git
