[submodule "rails/rinari"]
	path = rails/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "rails/yari"]
	path = rails/yari
	url = https://github.com/hron/yari.el.git
[submodule "rails/rhtml"]
	path = rails/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "markdown/markdown-mode"]
	path = markdown/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "scss/scss-mode"]
	path = scss/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "haml/haml-mode"]
	path = haml/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "yasnippet/yasnippet"]
	path = yasnippet/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vhdl-mode/vhdl-mode"]
	path = vhdl-mode/vhdl-mode
	url = git@github.com:qlkzy/vhdl-mode
[submodule "magit/magit"]
	path = magit/magit
	url = git@github.com:magit/magit
[submodule "lua-mode/lua-mode"]
	path = lua-mode/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "evil/evil"]
	path = evil/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
